{% load static %}
<!-- jQuery library -->
<script src='{% static "js/jquery-3.2.1.min.js" %}'></script>
<script src='{% static "js/jquery-3.2.1.min.js" %}'></script>
<script src='{% static "js/jquery-ui.min.js" %}'></script>
<script src='{% static "js/touch.js" %}'></script>
<script src='{% static "js/slick.min.js" %}'></script>
<script src='{% static "js/jquery.countdown.min.js" %}'></script>
<script src='{% static "" %}'></script>
<script src='{% static "js/count-up.min.js" %}'></script>
<script src='{% static "js/jquery.waypoints.min.js" %}'></script>
<script src='{% static "js/youtube-jquery.js" %}'></script>
<script src='{% static "js/jquery.fractionslider.min.js" %}'></script>
<script src='{% static "js/parallax.min.js" %}'></script>
<script src='{% static "js/main.js" %}'></script>

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/"></script>
<script src="assets/"></script>    
<script src="assets/"></script>
<script src="assets/"></script>
<script src="assets/"></script>
<script src="assets/"></script> 
<script src="assets/"></script>
<script src="assets/"></script>
<script src="assets/"></script>
<script src="assets/"></script>