{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="pg-header parallax-window overlay parlx-pad sec-mar" data-parallax="scroll" data-image-src="{% static 'images/page-title.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center"> 
                <h2>Cart</h2>
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Cart</li>
                </ul>
            </div>              
        </div>
    </div>
</div>
<!--page title-->

<main class="main cart"> 
    <div class="container">
        <form action="#">  
            <div class="row sec-mar"> 
            	{% if cart.products.exists %}                   
                <div class="col-md-12 col-sm-12">                        
                    <table class="table_shop">
                        <thead>
                        	
                            <tr>
                                <th class="pdt_remove"></th>
                                <th class="pdt_name">Product</th>
                                <th class="pdt_price">Price</th>
                                <th class="pdt_qty">Quantity</th>
                                <th class="pdt_subtotal">Total</th> 
                            </tr>
                        </thead>

                        <tbody>
                        	{% for product in cart.products.all %}
                            <tr class="crt_itm">
                                <td class="pdt_remove" data-title="Remove">{% include 'products/snippets/update-cart.html' with product=product cart=cart in_cart=True %}</td>

                                <td class="pdt_name" data-title="Product name">
                                	
                                    <figure class="pdt_thumb">
                                    	{% if instance.image %}
                                        <img src="{{ instance.image.url }}" alt="">
                                        {% endif %}
                                    </figure>


                                    <span class="pdt_title">{{ product.title }}</span>
                                </td>

                                <td class="pdt_price" data-title="Price">{{ product.price }}</td>

                                <td class="pdt_qty" data-title="Quantity">
                                    <input type="number" value="1" title="Qty" class="input-text qty" size="4">
                                </td>

                                <td class="pdt_subtotal" data-title="Total">{{ product.price }}</td> 
                            </tr>

                            {% endfor %}
                            
                            <!--single item-->
                        </tbody>
                        
                    </table>                        
                </div>
                <!--shop table--> 

                <div class="bdr-box cart-collaterals">
                    <h4>Cart Totals</h4>

                    <table class="table_shop">
                        <tbody>
                            <tr>
                                <td>Subtotal</td>
                                <td>{{ cart.subtotal }}</td>
                            </tr>

                            <tr>
                                <td>Shipping</td>
                                <td>{{ cart.shipping }}</td>
                            </tr>

                            <tr>
                                <td>Grand Total</td>
                                <td>{{ cart.total }}</td>
                            </tr>
                        </tbody>    
                    </table>

                    <a class="btn pri-bg">PROCEED TO CHECKOUT</a>
                </div> 
                {% else %}
                <p class="lead">Cart is empty</p>
                {% endif %}
            </div> 
        </form>               
    </div>  
</main>
<!--main-->

{% endblock %}