{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main class="main single-product"> 
        <div class="container"> 
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Shop</li>
                    </ul>
                </div>
            </div>  
            <!--breadcrumb-->

            <div class="row product sec-mar">
                <div class="col-md-8 col-sm-8 image pdt-single-slider">
                    <ul class="pdt-thumb">
                        {% if object.image %}
							<img src="{{ object.image.url }}" class="img-fluid">
						{% endif %}
                    </ul>

                    <ul class="pdt-single">
                    	{% if object.image %}
							<img src="{{ object.image.url }}" class="img-fluid">
						{% endif %}
                    </ul>
                </div> 
                <!--slider-->

                <div class="col-md-4 col-sm-4 summary ">
                   <div class="wrap">
                        <div class="pdt-cat bm-5">
                            <span>Ladies fashion</span>
                        </div>
                        
                        <h3>{{ object.title }}</h3>

                        <div class="price-wrap">
                            <div class="price"><del>$189.00</del><ins>$ {{ object.price }} </ins></div>
                            <div class="star-rate">
                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-full"></i>
                            </div>
                        </div>
                        <!--price wrap-->

                        <div class="disc bm-30">
                            {{ instance.description|linebreaks|truncatewords:45 }}
                        </div> 
                        <!--disc-->

                        <div class="flx-element bm-30">
                            <div><strong>Availability :</strong> 10 
                                <span class="text-green"><i class="fa fa-check-square"></i> Stock</span>
                            </div>                       
                            <div><strong>SKU :</strong> BLFG01</div>
                        </div>
                        <!--flex-->

                        <div class="color-option bm-25">
                            <h5 class="bm-5">Select color</h5>

                            <div class="color-filter">
                                <form>
                                    <div class="radio-wrap red">
                                        <input type="radio" name="color">
                                        <label>&nbsp;</label>
                                    </div>
                                    <!--red-->

                                    <div class="radio-wrap black">
                                        <input type="radio" name="color">
                                        <label>&nbsp;</label>
                                    </div>
                                    <!--black-->

                                    <div class="radio-wrap yellow">
                                        <input type="radio" name="color">
                                        <label>&nbsp;</label>
                                    </div>
                                    <!--yellow-->

                                    <div class="radio-wrap blue">
                                        <input type="radio" name="color">
                                        <label>&nbsp;</label>
                                    </div>
                                    <!--blue-->

                                    <div class="radio-wrap green">
                                        <input type="radio" name="color">
                                        <label>&nbsp;</label>
                                    </div>
                                    <!--yellow-->

                                    <div class="radio-wrap white">
                                        <input type="radio" name="color">
                                        <label>&nbsp;</label>
                                    </div>
                                    <!--blue-->

                                    <div class="radio-wrap pink">
                                        <input type="radio" name="color">
                                        <label>&nbsp;</label>
                                    </div>
                                    <!--yellow-->

                                    <div class="radio-wrap brown">
                                        <input type="radio" name="color">
                                        <label>&nbsp;</label>
                                    </div>
                                    <!--blue-->
                                </form>
                            </div>
                        </div> 
                        <!--color option-->

                        <div class="size-option bm-35">
                            <h5 class="bm-5">Select Size</h5> 

                            <div class="size-filter">
                                <form>
                                    <div class="radio-wrap">
                                        <input type="radio" name="size">
                                        <label>L</label>
                                    </div>
                                    <!--l-->

                                    <div class="radio-wrap">
                                        <input type="radio" name="size">
                                        <label>XL</label>
                                    </div>
                                    <!--xl-->

                                    <div class="radio-wrap">
                                        <input type="radio" name="size">
                                        <label>M</label>
                                    </div>
                                    <!--m-->

                                    <div class="radio-wrap">
                                        <input type="radio" name="size">
                                        <label>S</label>
                                    </div>
                                    <!--s-->

                                    <div class="radio-wrap">
                                        <input type="radio" name="size">
                                        <label>X</label>
                                    </div>
                                    <!--x-->
                                </form>
                            </div>
                        </div> 
                        <!--size option-->                                      

                        <div class="btn-wrap bm-35">
                            <input type="number" value="1" title="Qty" class="input-text qty" size="4">
                            {% include 'products/snippets/update-cart.html' with product=object cart=cart %} 
                        </div>  
                        <!--btn wrap--> 

                        <div class="share pri-font">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i> facebook</a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i> twitter</a>
                            <a href="#" class="pin"><i class="fa fa-pinterest-p"></i> pinterest</a>
                        </div>                       
                    </div>    
                </div>
                <!--summery-->       
            </div> 
            <!--product-->

            <div class="row product sec-mar">
                <div class="col-md-12 col-sm-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs sec-font" role="tablist">
                        <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                        <li><a href="#information" data-toggle="tab">Information</a></li>
                        <li><a href="#reviews" data-toggle="tab">Reviews</a></li> 
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="description">
                        	{{ object.description|linebreaks }}
                        </div>
                        <!--description-->

                        <div role="tabpanel" class="tab-pane" id="information">
                            Information
                        </div>
                        <!--information-->

                        <div role="tabpanel" class="tab-pane" id="reviews">
                            Reviews
                        </div> 
                        <!--reviews-->
                    </div>
                </div>   
            </div>
            <!--descripton tab-->      
        </div>  
        <!--container-->
    </main>

{% endblock %}